


.home, .single, .archive {
  background: black;

}


.site-info {
  a {
    display: none;
  }
}

.site-description {
  display: none;
}

.nav-previous {
  display: none;
}

.entry-title {
  color: #fff;
}

.entry-meta {
  p {
    color: #fff;
    max-width: 80%;


    }
  }

.brought {

  .red {
  display: inline;
  }

}




//the added classes
.hide {
  display: none;
}

.show {
  display: flex;
}















