


.home, .single, .archive, .error404 {
  background: black;

}

.home, .single {
  padding-left: 30px;
  
  @include desktop {
    padding-left: 0;
  }
}


//span class for commas
.white {
  p {
  color: #fff;
  display: inline;
  }
}


.site-info {
  a {
    display: none;
  }
}

.site-description {
  display: none;
}

.nav-previous {
  display: none;
}

.entry-title {
  color: #fff;
}

.entry-meta {
  p {
    color: #fff;
    max-width: 80%;


    }
  }

  

.brought {

  .red {
  display: inline;
  }

}




//the added classes
.hide {
  display: none;
}

.show {
  display: flex;
}




//fonts and styling 

.meta-content {
  p {
    font-family: 'Exo Light';
    font-size: 18px;
    @include desktop {
      
    }
  }

  .meta-source-para {
    font-family: 'Exo Italic';
    font-size: 18px;
    display: inline;
    
  }
}


.meta-container {
  a {
    color: green;
    font-family: 'Exo Italic';
    font-size: 18px;
    text-decoration: none;
  }
  .initial-title {
    min-width: max-content;
  }
}


#new-quote-button {
  border: 1px solid green;
  color: green;
  border-radius: 0;
  background: none;
  box-shadow: none;
  text-shadow: none;
  font-family: 'Exo Light';
  font-size: 16px;

}


.quote-container {
  p {
    color: #fff;
    font-family: 'Exo Light';
    font-size: 18px;
    @include tablet {
      font-size: 22px;
    }
    @include desktop {
      font-size: 30px;
    }
  }
}


.entry-title {
  font-family: 'Exo Light';

  @include desktop {
    font-size: 20px;
  }
}

 
.entry-source-link {
  a {
    color: green;
    text-decoration: none;
    font-family: 'Exo Italic';
    @include desktop {
      font-size: 20px;
    }
  }
}
.entry-source {
  color: #fff;
  font-family: 'Exo Light';
  @include desktop {
    font-size: 20px;
  }
}


//pagination 

nav.number-pagination {
  padding-top: 5px;
  a {
  color: #00cc00;
  font-family: 'Exo Light';
  text-decoration: none;
  }
}
















