


.home {
  background: gray;

}


.site-info {
  a {
    display: none;
  }
}

.site-description {
  display: none;
}

.nav-previous {
  display: none;
}

.entry-title {
  color: #fff;
}

.entry-meta {
  p {
    color: #fff;
    max-width: 80%;


    }
  }





.quote-container {

  color: white;
  p {
    color: #fff;

    @include desktop {
      font-size: 25px;
    
    }
  }
}



.brought {

  .red {
  display: inline;
  }

}

.content-wrapper {
  margin-top: 30px;
}


.title-link-container, .meta-container {
  display: flex;
  // align-content: center;
  // align-items: center;
  margin-top: 30px;
  margin-bottom: 50px;
  

   p {
     padding-right: 3px;
     margin: 0;
   }
  
  
}

.hide {
  display: none;
}

.show {
  display: flex;
}







//Okay here is the styling for my refresh generated styles

.initial-title {
  width: auto;
}

//this is the on click
.entry-title {
  width: auto;
  height: auto;
  max-height: 20px;
}

//on click
.entry-source {
  max-width: 220px;

  @include tablet {
    max-width: 600px;
  }
}