/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* All Archives Page */

/* Submit a Quote Page */
  


//Home Page

.home {
  padding-left: 30px;

  @include desktop {
    padding-left: 0;
  }
}

.site-footer {

  margin-top: 100px;
}

.quote-container {
  p {
    max-width: 85%;
  }
}

//nav bar
.main-navigation {
  display: flex;
  flex-wrap: wrap;
  @include desktop {
    justify-content: flex-end;
  }

 
  .brought {
    flex-basis: 100%;

    @include tablet {
      flex-basis: 50%;
      flex-wrap: nowrap;
    }

    @include desktop {
      flex-basis: 25%;
    }
  }

   .menu {
     display: flex;
     a {
       
       padding-right: 15px;
     }
   }
}



//header
.logo {
 padding-top: 30px;
 
@include desktop {
  background: blue;
  display: flex;
  justify-content: center;
  padding-top: 60px;
}

 img {
   max-width: 75%;

   @include tablet {
    max-width: 90%;
    height: 80px;
   }
   @include desktop {
     height: 110px;
   }
 }
}


//position for full width
.content-wrapper {
  @include desktop {
    
    max-width: 600px;
    width: auto;
    margin: 0 auto;
  }
}

.show-button-container {
  @include desktop {
    display: flex;
    justify-content: center;
  }
}


// .meta-content {
//   p {
//     @include desktop {
//       font-size: 25px;
//     }
//   }
// }





//quotes

.entry-meta {
  display: flex;
  flex-direction: row;
  

  @include desktop {
    margin: 0 auto;
    // max-width: 600px;
    width: auto;
    justify-content: space-around;
  }


   .meta-content {
    
     display: flex;
     flex-direction: column;
     max-width: 600px;

     @include desktop {
       font-size: 25px;
     }


     .meta-container {
       display: flex;
       font-size: 16px;

        .meta-source-para {
          max-width: 180px;

          @include tablet {
            max-width: 600px;
          }
        }
     }
   }
}


.left-quote, .right-quote {
  display: none;


  @include desktop {
    display: inline;
    i {
      color: green;
      font-size: 100px;
    }
  }
}