/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* All Archives Page */

/* Submit a Quote Page */
  


//Home Page

.home {
  padding-left: 30px;
}

.site-footer {

  margin-top: 100px;
}

.quote-container {
  p {
    max-width: 85%;
  }
}

//nav bar
.main-navigation {
  display: flex;
  flex-wrap: wrap;
  @include desktop {
    justify-content: flex-end;
  }

 
  .brought {
    flex-basis: 100%;

    @include tablet {
      flex-basis: 50%;
      flex-wrap: nowrap;
    }

    @include desktop {
      flex-basis: 25%;
    }
  }

   .menu {
     display: flex;
     a {
       
       padding-right: 15px;
     }
   }
}



//header
.logo {
 padding-top: 30px;
 
@include desktop {
  background: blue;
  display: flex;
  justify-content: center;
  padding-top: 60px;
}

 img {
   max-width: 75%;

   @include tablet {
    max-width: 90%;
    height: 80px;
   }
   @include desktop {
     height: 110px;
   }
 }
}


//position for full width
.content-wrapper {
  @include desktop {
    
    max-width: 400px;
    width: auto;
    margin: 0 auto;
    

   
    
  }
}

.show-button-container {
  @include desktop {
    display: flex;
    justify-content: center;
  }
}