/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* All Archives Page */

/* Submit a Quote Page */



//Home Page

.home, .single {
  padding-left: 30px;
  
  @include desktop {
    padding-left: 0;
  }
}

//footer
.site-footer {
  
  margin-top: 100px;
  padding-bottom: 30px;
  
}



//nav bar
.main-navigation {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 50px;
  
  color: #00cc00;
  
  #primary-menu {
    li {
      a {
        color: #00cc00;
        font-family: 'Exo Light';
        border-right: 1px solid #fff;
        padding-left: 8px;
      }
      
    }
  }
  
  @include desktop {
    justify-content: flex-end;
  }
  
  
  .brought {
    flex-basis: 100%;
    padding-left: 8px;
    font-family: 'Exo Light';
    color: #fff;
    
    @include tablet {
      flex-basis: 50%;
      flex-wrap: nowrap;
    }
    
    @include desktop {
      flex-basis: 25%;
    }
    
    .red {
      display: inline;
      color: #00cc00;
    }
  }
  
  .menu {
    display: flex;
    a {
      
      padding-right: 15px;
    }
  }
}







//header
.logo {
  padding-top: 30px;
  
  @include desktop {
    
    display: flex;
    justify-content: center;
    padding-top: 60px;
  }
  
  img {
    max-width: 75%;
    
    @include tablet {
      max-width: 90%;
      height: 80px;
    }
    @include desktop {
      height: 110px;
    }
  }
}

// button
.show-button-container {
  @include desktop {
    display: flex;
    justify-content: center;
  }
}



//refresh

.entry-meta {
  display: flex;
  flex-direction: row;
  
  #meta-quote {
    p {
      @include desktop {
        font-size: 35px;
      }
    }
  }
  
  
  
  @include desktop {
    margin: 0 auto;
    // max-width: 600px;
    width: auto;
    justify-content: space-around;
  }
  
  
  .meta-content {
    
    display: flex;
    flex-direction: column;
    max-width: 600px;
    
    
    
    
    .meta-container {
      display: flex;
      font-size: 18px;
      margin-top: 30px;
      margin-bottom: 50px;
      
      p {
        padding-right: 3px;
        margin: 0;
      }
      
      .meta-source-para {
        max-width: 180px;
        
        @include tablet {
          max-width: 600px;
        }
      }
    }
  }
}


//quotes
.left-quote, .right-quote {
  display: none;
  
  
  @include desktop {
    display: inline;
    i {
      color: #00cc00;
      font-size: 100px;
    }
  }
}





//click 
.entry-title {
  width: auto;
  height: auto;
  max-height: 20px;
  min-width: max-content;
  
}


.entry-source {
  max-width: 210px;
  
  @include tablet {
    max-width: 600px;
  }
}

.initial-title {
  width: auto;
  
}



//positioning

.content-wrapper {
  display: flex;
  // margin-top: 80px;
  
  .left-quote, .right-quote {
    display: none;
  }
  
  
  @include desktop {
    margin: 0 auto;
    
    width: auto;
    justify-content: space-around;
    
    .left-quote, .right-quote {
      display: inline;
    }
  }
  
  
  
  .ultra-container {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    
    @include desktop {
      font-size: 25px;
    }
    
    
    .title-link-container {
      display: flex;
      font-size: 16px;
      margin-top: 30px;
      margin-bottom: 50px;
      
      p {
        padding-right: 3px;
        margin: 0;
      }
    }
  }
}






