/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* All Archives Page */

/* Submit a Quote Page */
  


//Mobile

.home {
  padding-left: 15px;
}

.site-footer {

  margin-top: 100px;
}


.main-navigation {
  display: flex;
  flex-wrap: wrap;

  .brought {
    flex-basis: 100%;
  }

   .menu {
     display: flex;
     a {
       
       padding-right: 15px;
     }
   }
}

.logo {
 padding-top: 30px;
 

 img {
   max-width: 75%;
 }
}